{% extends "news/main.html" %}


{% block content %}
<div style="margin: 20 20 20 20; background-color: lightyellow; position: absolute;">
<h1 class="text-center" style="padding-top: 1.5rem; ">
   <b> {{ rec.title }}</b>
</h1>

<img style="margin: auto; display: flex; padding: 1.5rem;" src="{{rec.image}}" alt="">
<p></p>
    <div style="padding: 1.5rem;">
        <p class="text-center"> 
            {{ rec.article }}
        </p>
        <span style="float:right;width:auto; padding: 1.5rem;"><b>Date:</b> {{rec.date_create }}</span>

    </div>


</div>

{% endblock %}